PASS
<div class="container-forgetpage">

  <h1>Forgot Password?</h1>


  <div>
      <p style="margin-bottom:0;">Enter your email to recieve instructions on how to </p>
      <p>reset your password</p>
      <form>
          <input type="email" class="inputfld" placeholder="Enter Email">
          <br>
          <p style="color: red;">This field is required</p>
          <button type="button" class="btn btn-primary">Request Reset Link</button>

      </form>
  </div>
  <nav>
      <p class="">Back to <a routerLink="/login">Sign in</a></p>
  </nav>



</div>
    
  