.inputfld {
    /* text-align: left;    */
    /* align-items: center; */
    width: 100%;
    margin: 3px;
    box-sizing: border-box;
  }
  .container-forgetpage {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-primary {
    width: 100%;
    background-color: #16449b;
  }